<!DOCTYPE html>
<html>
  <head>
    <title>Mediminder</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round" rel="stylesheet">
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/top_nav' %>
    <div class="container container--webapp">
      <%= yield %>
    </div>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
